#root {
  max-width: 1200px;
  margin: 0 auto;
}

.films {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 32px 0 32px;
}

.film {
  width: 90%;
}
.film::after {
  content: "";
  display: flex;
  align-items: center;
  width: 70%;
  border-bottom: 1px solid #000;
  margin: 20px auto 0;
}
.film__title {
  color: #2f2f2f;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.film__episode {
  margin-top: 8px;
}
.film__desc {
  font-style: italic;
  margin-top: 12px;
}
.chars-list {
  margin-top: 20px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.chars-list::before {
  content: "Characters: ";
  display: block;
  margin-right: 10px;
}

.chars-list__item {
  margin-right: 10px;
  line-height: 20px;
}



